<nav #element [ngClass]="getNavStyle(scroll)" (window:resize)="onResize($event)">
  <button (click)="goPrevious()">&lt;</button>
  <button (click)="goNext()">&gt;</button>

  <button (click)="zoomIn()">+</button>
  <button (click)="fit()">100%</button>
  <button (click)="zoomOut()">-</button>

  <button (click)="rotate()">90</button>

  <span>Page: </span>
  <input type="text" min=1 [(ngModel)]="pageNum">
  <span> / {{pageCount}}</span>

  &nbsp;&nbsp;
  <span>Document URL: </span>
  <input type="text" [(ngModel)]="pdfUrl">
</nav>

<hr>

{{loading}}
<canvas #pdf class="rotate0"></canvas>
